.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("../assets/iam.jpg") no-repeat top center;
    background-size: cover;
    color: white;
    padding-bottom: auto;
    text-align: left;
}

.wrapper>h1 {
    font-size: 5rem;
}

.text {
    font-size: 2rem;
}

.wrapper>h1, .text {
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 1rem;
}


/* mobile version */
@media only screen and (max-width: 800px) {

    /* why 93???? */
    .wrapper {
        height: 93vh;
    }

    .wrapper>h1 {
        margin-top: auto;
        font-size: 3rem;
    }

    .wrapper>h1, .text {
        text-align: right;
        padding-right: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100vw;
    }

    .text {
        font-size: 1rem;
        margin-bottom: 2vh;
    }
}