.wrapper {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-top: 2px solid black;
}

.btn a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.btn a:hover {
    text-decoration: underline;
}


.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.socialLinks img {
    height: 1.5rem;
}

.copyrightMobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    .socialLinks {
        gap: 1rem;
    }

    .socialLinks img {
        height: 1rem;
    }

    .copyrightDesktop {
        display: none;
    }

    .copyrightMobile {
        display: flex;
    }
}