.wrapper {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-top: 2px solid black;
}

.btn {
    display: inline;
    position: fixed;
    bottom: 11%;
    right: 1%;
    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 5%
}

.btn a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.btn:hover {
    background-color: black;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.socialLinks img {
    height: 1.5rem;
}

.copyrightDesktop, .copyrightMobile {
    font-family: monospace;
}

.copyrightMobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    .btn {
        background-color: black;
    }

    .socialLinks {
        gap: 1rem;
    }

    .socialLinks img {
        height: 1.5rem;
    }

    .copyrightDesktop {
        display: none;
    }

    .copyrightMobile {
        display: flex;
        font-family: monospace;
    }
}

@media only screen and (max-height: 500px) {
    .wrapper {
        height: 50px;
    }
    .socialLinks img {
        height: 1rem;
    }
}